<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacts</title>
</head>

<body>
    <h3>Add contact: </h3>
    <form action="/contacts" method="POST">
        <input type="text" name="name" placeholder="Name">
        <input type="text" name="phone" placeholder="phone">
        <input type="submit">
    </form>
    <h3>List of contacts</h3>
    {% for contact in contacts %}
    Name: <a href="{{ url_for('get_contact', id=contact[0]) }}"><b>{{contact[1]}}</a></b>, Phone: <b>{{contact[2]}}</b>
    <br>
    {% endfor %}
    <br>
    <!--{{person}}-->
</body>

</html>